

.TodoItem {
  background: linear-gradient(35deg, black, rgba(69, 7, 238, 0.486));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 24px;
  margin-top: 24px;
  box-shadow: 3px 5px 40px rgba(43,24,219);
}

.TodoItem-p {
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  word-wrap: break-word;
}
.TodoItem-p--complete {
  text-decoration: line-through;
  text-decoration-color: #0d0e0d;
  text-decoration-style: double;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
}

.Icon-check {
  position: absolute;
  left: -4px;
}
.Icon-check--active {
  color: #000000;
}

.Icon-delete {
  position: absolute;
  right: 0;
}
.Icon-delete:hover {
  color: red;
}
